@import "tailwindcss";


@layer components {
  .page-container {
    @apply h-full w-full flex items-center justify-center bg-slate-300 text-black;
  }

  .card {
    @apply bg-white text-black p-8 rounded-xl shadow-xl w-96;
  }

  .heading {
    @apply text-2xl font-semibold text-center mb-6;
  }

  .input {
    @apply w-full p-3 border border-black rounded-md mb-3 focus:outline-none focus:ring-2 focus:ring-black;
  }

  .btn {
    @apply w-full bg-black text-white py-3 rounded-md hover:bg-gray-800 transition;
  }

  .link {
    @apply text-sm text-center mt-4 underline cursor-pointer;
  }
}
